#navbar {
	background-color: #F05A0F;
}

#mainBanner {
	background-color : #012849;
}

#coachesBanner {
	background-color : #012849;
}

#productsBanner {
	background-color : #012849;
}

#cartBanner {
	background-color : #012849;	
}

#productInput {
	width : 60%;
}



