<style>
#productImg {
	height: 50%;
	width: 50%;
}

.card {
	width: 	100%;
}
</style>

<div class="jumbotron jumbotron-fluid text-center text-light"
	id="productsBanner">
	<h4 class="display-3 mt-5">Products</h4>
</div>
<div class="container">
	<div class="row m-3">
		<div class="col-lg-4 col-md-12">
			<div class="card">
				<div class="card-body">
					<h3>Filter:</h3>
					<div class="form-group">
						<label for="productType">Select to filter by type
						(select one):</label>  
						<select class="form-control">
							<option value="Food" id="productType" ng-model="productType">Food</option>
							<option value="Supplement" id="productType" ng-model="productType">Supplement</option>
						</select>				
					</div>
					<button class="btn btn-success" ng-click="filter()">Filter</button>
					<button class="btn btn-info" ng-click="clearFilter()">Clear</button>
				</div>
			</div>	
		</div>
		<div class="col-lg-6 col-md-12">
			<h3 class="mt-3">Search:</h3>
			<input class="form-control" type="text" ng-model="searchValue"
				placeholder="Enter product name">
		</div>
	</div>	
	<div class="row justify-content-center">
		<div class="col-lg-5 m-3" ng-repeat="product in products | filter: searchValue">
			<div class="card text-center">
				<img class="card-img-top img-fluid img-thumbnail mx-auto d-block"
					src="{{product.img}}" id="productImg" alt="Product image">
				<div class="card-body">
					<h4 class="card-title">{{product.productName}}</h4>
					<p class="card-text">
						<span class="font-weight-bold">Product Type:</span>
							{{product.productType}}
					</p>
					<p class="card-text">
						<span class="font-weight-bold">Description:</span>
							{{product.description}}
					</p>
					<button class="btn btn-primary" ng-click="addToCart(product)">Add
						Product to cart</button>
				</div>
			</div>
		</div>
	</div>
</div>



