<div class="container-fluid">
	<div class="row mt-5"></div>
<div class="row mt-5">
	<div class="col-sm-7">
		<div class="card bg-light">
			<div class="card-header text-center">
				<h3>Update Product</h3>
				<h5 class="text-success" ng-bind="updateStatus"></h5>
			</div>
			<div class="card-body">
				<form name="updateForm">
					<div class="form-group">
						<label for="productName" class="font-weight-bold">Product Name:</label>
						<input ng-model="product.productName" required ng-minlength="2" name="productName"
						type="text" class="form-control" id="productName">
						<span class="text-danger" ng-if="!updateForm.productName.$valid"> 
							required and must be at least 2 characters
						</span>
					</div>	
					<div class="form-group">
							<label for="productType" class="font-weight-bold">Product
								Type:</label> <select ng-options="value for value in productTypes"
								required name="productType" ng-model="product.productType"
								class="form-control" id="productType"></select>	
					</div>			
					<div class="form-group">
						<label for="description" class="font-weight-bold">Description:</label>
						<input ng-model="product.description" required ng-minlength="2" name="description"
						type="text" class="form-control" id="description">
						<span class="text-danger" ng-if="!updateForm.description.$valid"> 
							required and must be at least 2 characters
						</span>
					</div>		
					<div class="form-group">
							<label for="img" class="font-weight-bold">Img:</label>
							<input ng-model="product.img" required
								name="img" type="text" class="form-control"
								id="img"> 
								<span
								ng-show="createForm.img.$touched && createForm.img.$invalid"
								class="text-danger"> Required field 
								</span>
						</div>
					
				</form>
			</div>
			<div class="card-footer text-center">
				<button type="button" class="btn btn-success" ng-disabled="updateForm.$invalid || disableUpdate" ng-click="updateProduct()" >Update</button>
				<button type="button" class="btn btn-danger" ng-disabled="disableUpdate" ng-click="deleteProduct()">Delete</button>
				<button type="button" class="btn btn-info" ng-click="goToProductsView()">Cancel</button>
			</div>
		</div>
	</div>
	<div class="col-sm-5">		
		<div class="pt-5">
		<img class="img-fluid rounded-circle" src="./Images/ideal-health-now-fav-products.jpeg">
		</div>
	</div>
</div>
</div>
